html
{
    margin: 0;
    padding: 0;
}


body
{
  font-family: 'Khula', sans-serif;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#top
{
  position: absolute;
  top: 0;
  left: 0;
}

.signatureLogo
{
  top: 0;
  position: absolute;
  display: inline-block;
  z-index: 100;
  width: 300px;
  height: 150px;
  margin-left: 45.3%;
  margin-right: 50%;
}

.signatureLogo img
{
  max-width: 100%;
  max-height: 100%;
}

.bgIMG
{
  margin-top: -15%;
  margin-left: -15%;
  background-color: #E8E8E8;
  position: absolute;
  z-index: 1;
}

.bgIMG img
{
  opacity: 0.2;
  width: 100%;
}

nav {
  position: relative;
  z-index: 99;
  width: 80%;
  margin: 4% auto 0;
  background: #ffffff;
  padding: 50px 0;
  box-shadow: 0px 8px 0px rgba(175, 175, 175, 0.4);
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

/*HOVER EFFECT*/
.link {
  transition: 0.4s;
  color: #093145;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #093145;
  color: #ffffff;
  padding: 24px 10px;
}

.linkNA {
  transition: 0.4s;
  color: lightgrey;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  cursor: not-allowed;
}
/**/

.mainBody
{
  margin-top: 3%;
  margin-left:auto;
  margin-right: auto;
}

.punchContainer
{
  display: flex;
  position: absolute;
  z-index: 97;
  width: 100%;
}

.punchTitle
{
  display: flex;
  position: absolute;
  z-index: 97;
  width: 90%;
  font-size: 1.3vw;
  letter-spacing: -3px;
  text-align: right;
  justify-content: flex-end;
}

.punchPara
{
  position: absolute;
  z-index: 97;
  width: 20%;
  margin-left: 70%;
  margin-top: 7%;
  font-size: 0.85vw;
  text-align: justify;
}

.divider
{
  position: absolute;
  z-index: 97;
  background-color: #afafaf;
  width: 100%;
  height: 200px;
  margin-top: 40%;
}

.divider2
{
  position: absolute;
  z-index: 98;
  background-color: #afafaf;
  width: 100%;
  height: 200px;
  margin-top: 120%;
}

.divider3
{
  position: absolute;
  z-index: 100;
  background-color: #afafaf;
  width: 100%;
  height: 200px;
  margin-top: 210%;
}

.divider4
{
  position: absolute;
  z-index: 100;
  background-color: #afafaf;
  width: 100%;
  height: 200px;
  margin-top: 295%;
}

.sec2Title
{
  position: absolute;
  z-index: 97;
  margin-top: 55%;
  margin-left: 58%;
  color: white;
  font-size: 2vw;
  letter-spacing: -3px;
}

#returner
{
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 150 !important;
  margin-top: 33%;
  margin-left: 3%;
  display: none;
}

#returner img
{
  max-width: 100%;
  max-height: 100%;
}

.returnToolTip
{
  position: absolute;
  margin-left: 60px;
  margin-top: -45px;
  width: 100px;
  color: #ffffff;
  padding: 3px 3px 3px 3px;
  text-shadow: 1px 1px black;
  font-size: 0.8em;
}

.sec2Para
{
  position: absolute;
  width: 35%;
  z-index: 97;
  margin-top: 65%;
  margin-left: 58%;
  color: #efefef;
  font-size: 0.8vw;
  text-align: justify;
}

.bgIMG2
{
  margin-left: -20%;
  margin-top: 40%;
  background-color: #040404;
  position: absolute;
  z-index: 2;
}

.bgIMG2 img
{
  width: 90%;
  opacity: 0.3;
}

.photoContainer
{
  position: absolute;
  z-index: 97;
  margin-left: 62%;
  margin-top: 97%;
  margin-bottom: 5%;
  width: 30%;
  height: 70%;
  justify-content: center;
}

.photoContainer img
{
  max-width:100%;
  max-height:100%;
}

.Slides
{
  display: none;
}

.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 0.8vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.slideshowCaption
{
  position: absolute;
  z-index: 97;
  margin-top: 113.75%;
  margin-left: 55%;
  margin-left: 73%;
  color: white;
  font-size: 0.9vw;

}

.video
{
  position: absolute;
  z-index: 2;
  background-color: #373d3f;
  width: 100%;
  height: 15%;
  margin-top: 120%;
}

video
{
  position: absolute;
  z-index: 2;
  width: 100%;
}

#videoHome
{
  position: absolute;
  z-index: 97;
  margin-top: 130%;
  width: 100%;
  height: 90%;
}

.sec3BG
{
  position: absolute;
  z-index: 97;
  margin-top: 130%;
  width: 100%;
  height: 79%;
  background-color: #093145;
  opacity: 0.7;
}

.sec3Title
{
  position: absolute;
  z-index: 97;
  margin-top: 15%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 50px;
  letter-spacing: -3px;
}

.sec3Title h1
{
  display: inline;
  border: 17px white solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.section3Container
{
  position: absolute;
  z-index: 98;
  margin-top: 165%;
  width: 100%;
  height: 90%;
  background-color: #efefef;
}

.section3IconContainer
{
  position: absolute;
  z-index: 99;
  margin-top: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.iconItem
{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  width: 5%;
}

.iconItem img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
	margin-right: auto;
}

.section3SkillDots
{
  position: absolute;
  z-index: 99;
  margin-top: 11%;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.dotItem
{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  width: 5%;
}

.dotItem img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
	margin-right: auto;
}

.section3ParaContainer
{
  position: absolute;
  z-index: 99;
  margin-top: 15%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.section3ParaItem
{
  position: absolute;
  z-index: 99;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 0.85vw;
  color: #373d3f;
}


.section4Container
{
  position: absolute;
  z-index: 98;
  margin-top: 220%;
  width: 100%;
  height: 150%;
  background-image: url(images/chalkboardBG.jpg);
}

.section4TitleContainer
{
  display: flex;
  position: absolute;
  z-index: 99;
  margin-top: 6%;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.section4TitleGraphic
{
  height: 100%;
  width: 50%;
  margin: auto;
}

.section4TitleGraphic img
{
  max-height: 100%;
  max-width: 100%;
}

.section4Para
{
  margin-top: 60%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: center;
  font-size: 0.85vw;

}

.grid
{
  position: absolute;
  z-index: 98;
  margin-top: 240%;
  width: 90%;
  margin-left: 9%;
  margin-right: 5%;
  /*background-color: rgba(175, 175, 175, 0.4);*/
}

.grid:after
{
  content: '';
  display: block;
  clear: both;
}

.grid-item
{
  width: 10%;
  float: left;
  display: block;
  padding-top: -7px;
  background-blend-mode: screen;
}

.grid-item img
{
  width: 100%;
  opacity: 0.5;
}

.grid-item--width15
{
  width: 20%;
}

.grid-item--width2
{
  width: 20%;
}

.grid-item--width3
{
  width: 30%;
}

.section5Container
{
  position: absolute;
  z-index: 98;
  margin-top: 300%;
  width: 100%;
  height: 150%;
  background-color: #efefef
}

.section5Title
{
  position: absolute;
  z-index: 99;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #093145;
  font-size: 2vw;
  letter-spacing: -3px;
}
