html
{
    margin: 0;
    padding: 0;
    background-color: #efefef
}


body
{
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: 1s opacity;
  background-color: #efefef
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Work Sans', sans-serif;
}

#top
{
  position: absolute;
  top: 0;
  left: 0;
}

.signatureLogoContainer
{
  top: 0;
  position: absolute;
  display: inline-block;
  z-index: 100;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  pointer-events:none;
}

.logoItem
{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  width: 8%;
  pointer-events:none;
}

.logoItem img
{
  display: block;
  max-width: 100%;
  margin-left: auto;
	margin-right: auto;
  pointer-events:none;
}

.signatureLogo img
{
  max-width: 100%;
  max-height: 100%;
}

.bgIMG
{
  margin-top: -15%;
  margin-left: -15%;
  background-color: #E8E8E8;
  position: absolute;
  z-index: 1;
}

.bgIMG img
{
  opacity: 0.2;
  width: 100%;
}

nav {
  position: relative;
  z-index: 99;
  width: 80%;
  margin: 4% auto 0;
  background: #ffffff;
  padding: 50px 0;
  box-shadow: 0px 8px 0px rgba(175, 175, 175, 0.4);
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

/*HOVER EFFECT*/
.link {
  transition: 0.4s;
  color: #093145;
  font-size: 1vw;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #093145;
  color: #ffffff;
  padding: 24px 10px;
}

.linkNA {
  transition: 0.4s;
  color: lightgrey;
  font-size: 1vw;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  cursor: not-allowed;
}
/**/

.mainBody
{
  margin-top: 3%;
  margin-left:auto;
  margin-right: auto;
}

.punchContainer
{
  display: flex;
  position: absolute;
  z-index: 97;
  width: 100%;
}

.punchTitle
{
  display: flex;
  position: absolute;
  z-index: 97;
  width: 90%;
  font-size: 1.3vw;
  letter-spacing: -0.13vw;
  text-align: right;
  justify-content: flex-end;
}

.punchPara
{
  position: absolute;
  z-index: 97;
  width: 20%;
  margin-left: 70%;
  margin-top: 7%;
  font-size: 0.85vw;
  text-align: justify;
  line-height: 1.3vw;
}

.divider
{
  position: absolute;
  z-index: 97;
  background-color: #afafaf;
  width: 100%;
  height: 30%;
  margin-top: 40%;
}

.divider2
{
  position: absolute;
  z-index: 98;
  background-color: #afafaf;
  width: 100%;
  height: 30%;
  margin-top: 120%;
}

.divider3
{
  position: absolute;
  z-index: 100;
  background-color: #afafaf;
  width: 100%;
  height: 30%;
  margin-top: 210%;
}

.divider4
{
  position: absolute;
  z-index: 100;
  background-color: #afafaf;
  width: 100%;
  height: 30%;
  margin-top: 295%;
}

.sec2Title
{
  position: absolute;
  z-index: 97;
  margin-top: 55%;
  margin-left: 58%;
  color: white;
  font-size: 2vw;
  letter-spacing: -0.13vw;
}

#returner
{
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 150 !important;
  margin-top: -7%;
  margin-left: 3%;
  display: none;
}

#returner img
{
  max-width: 100%;
  max-height: 100%;
}

.returnToolTip
{
  position: absolute;
  margin-left: 60px;
  margin-top: -40px;
  width: 100px;
  color: #ffffff;
  padding: 3px 3px 3px 3px;
  text-shadow: 1px 1px black;
  font-size: 0.8em;
}

.sec2Para
{
  position: absolute;
  width: 35%;
  z-index: 97;
  margin-top: 65%;
  margin-left: 58%;
  color: #efefef;
  font-size: 0.8vw;
  text-align: justify;
  line-height: 1.3vw;
}

.bgIMG2
{
  margin-left: -20%;
  margin-top: 40%;
  background-color: #040404;
  position: absolute;
  z-index: 2;
}

.bgIMG2 img
{
  width: 90%;
  opacity: 0.3;
}

.photoContainer
{
  position: absolute;
  z-index: 97;
  margin-left: 62%;
  margin-top: 95%;
  margin-bottom: 5%;
  width: 30%;
  height: 70%;
  justify-content: center;
}

.photoContainer img
{
  max-width:100%;
  max-height:100%;
}

.Slides
{
  display: none;
}

.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 0.8vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.slideshowCaption
{
  position: absolute;
  z-index: 97;
  margin-top: 113.75%;
  margin-left: 55%;
  margin-left: 73%;
  color: white;
  font-size: 0.9vw;
}

.video
{
  position: absolute;
  z-index: 2;
  background-color: #373d3f;
  width: 100%;
  height: 15%;
  margin-top: 120%;
}

video
{
  position: absolute;
  z-index: 2;
  width: 100%;
}

#videoHome
{
  position: absolute;
  z-index: 97;
  margin-top: 130%;
  width: 100%;
  height: 90%;
}

.sec3BG
{
  position: absolute;
  z-index: 97;
  margin-top: 130%;
  width: 100%;
  height: 79%;
  background-color: #093145;
  opacity: 0.7;
}

.sec3Title
{
  position: absolute;
  z-index: 97;
  margin-top: 15%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 2.3vw;
  letter-spacing: -0.13vw;
}

.sec3Title h1
{
  display: inline;
  border: 1vw white solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.section3Container
{
  position: absolute;
  z-index: 98;
  margin-top: 165%;
  width: 100%;
  height: 90%;
  background-color: #efefef;
}

.section3IconContainer
{
  position: absolute;
  z-index: 99;
  margin-top: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.iconItem
{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  width: 5%;
}

.iconItem img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
	margin-right: auto;
}

.section3SkillDots
{
  position: absolute;
  z-index: 99;
  margin-top: 11%;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.dotItem
{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  width: 5%;
}

.dotItem img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
	margin-right: auto;
}

.section3ParaContainer
{
  position: absolute;
  z-index: 99;
  margin-top: 15%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.section3ParaItem
{
  position: absolute;
  z-index: 99;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 0.85vw;
  color: #373d3f;
  line-height: 1.3vw;

}


.section4Container
{
  position: absolute;
  z-index: 98;
  margin-top: 220%;
  width: 100%;
  height: 170%;
  background-image: url(images/chalkboardBG.jpg);
}

.section4TitleContainer
{
  display: flex;
  position: absolute;
  z-index: 99;
  margin-top: 6%;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.section4TitleGraphic
{
  height: 100%;
  width: 50%;
  margin: auto;
}

.section4TitleGraphic img
{
  max-height: 100%;
  max-width: 100%;
}

.section4Para
{
  margin-top: 60%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: center;
  font-size: 0.85vw;
  line-height: 1.3vw;

}

.grid
{
  position: absolute;
  z-index: 98;
  margin-top: 240%;
  width: 90%;
  margin-left: 9%;
  margin-right: 5%;
  /*background-color: rgba(175, 175, 175, 0.4);*/
}

.grid:after
{
  content: '';
  display: block;
  clear: both;
}

.grid-item
{
  width: 10%;
  float: left;
  display: block;
  padding-top: -7px;
  background-blend-mode: screen;
}

.grid-item img
{
  width: 100%;
  opacity: 1;
}

.grid-item--width15
{
  width: 20%;
}

.grid-item--width2
{
  width: 20%;
}

.grid-item--width3
{
  width: 30%;
}

.section5Container
{
  position: absolute;
  z-index: 98;
  margin-top: 305%;
  width: 100%;
  height: 150%;
  background-color: #efefef;
}

.section5TitleContainer
{
  margin-top: 5%;
  display: flex;
  position: absolute;
  z-index: 99;
  width: 100%;
}

.section5Title
{
  display: flex;
  position: absolute;
  z-index: 99;
  width: 100%;
  font-size: 2vw;
  letter-spacing: -0.13vw;
  justify-content: center;
}

.timelineContainer
{
  top: 17%;
  position: absolute;
  z-index: 100;
  display: flex;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  flex-flow: column;
}

.timelineItem
{
  display: flex;
  background-color: #FFF3B2;
  color: #093145;
  height: 20%;
  width: 65%;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.timelineItemJob
{
  display: flex;
  background-color: #c6f1ff;
  color: #093145;
  height: 20%;
  width: 65%;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.timelineItemJobEnd
{
  display: flex;
  background-color: #ff9b9b;
  color: #093145;
  height: 20%;
  width: 65%;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.timelineItemTitle
{
  display: flex;
  margin-top: 1%;
  height: 25%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 0.5vw;

}

.timelineTitleItem
{
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 2%;
  font-size: 0.8vw;
}

.titleYear
{
  font-style: italic;
  font-weight: lighter;
  font-size: 1vw;
}

.timelineDateContainer
{
  margin-top: -1%;
  height: 10%;
  width: 100%;
  display: flex;
}

.timelineDate
{
  font-weight: lighter;
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 2%;
  font-size: 0.5vw;
  line-height: 0vw;
}

.timelineParaContainer
{
  height: 45%;
  width: 90%;
  margin-left: -6%;
  display: flex;
  font-size: 0.73vw;
}

.underline
{
  text-decoration: underline;
}

.noDotPoints
{
    list-style: none;
    padding: 0;
    display: inline;
}

.noDotPoints li
{
    list-style: none;
    margin: 7px;
    font-size: 0.7vw;
}

.listLeft
{
  left: 0;
  height: 100%;
  width: 30%;
  border-right: 1px solid black;
}

.listCenter
{
  height: 100%;
  width: 40%;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.listRight
{
  height: 100%;
  width: 30%;
  text-align: right;
  border-left: 1px solid black;
}
